<div class="parent">
  <h1>
    {{title}}
  </h1>


  <label>Message for the child<input type="text" #parentMessage (keyup)="0"></label>
  <div class="message">
    <p>Message from the child: {{ childMessage }}</p>
  </div>
  <app-add-item (childMessage)="childMessage=$event"
  [parentMessage]="parentMessage.value"></app-add-item>


<!-- <ul>
  <li *ngFor="let item of items">
    {{ item.name }}
  </li>
</ul> -->



<ul>Heroes from parent: <li *ngFor="let hero of heroes">{{hero}}</li></ul>


  <inventory-counter (newItemData)='onNotify($event)' (addNewHero)='addHero($event)'></inventory-counter>


 </div>
